# Credenciales Base de Datos MySQL
MYSQL_ROOT_PASSWORD=root_password_segura
MYSQL_DATABASE=base_ejemplo
MYSQL_USER=usuario_ejemplo
MYSQL_PASSWORD=password_segura_2024

# Credenciales accesibles por la API Flask
DB_HOST=servidor-bd-ejemplo
DB_USER=usuario_ejemplo
DB_PASS=password_segura_2024
DB_NAME=base_ejemplo

# Autenticación Dozzle (logs)
DOZZLE_AUTH_USER=ProfeChristian
DOZZLE_AUTH_PASS=Evidencia2

# Telegram Bot (Uptime Kuma)
TELEGRAM_BOT_TOKEN=tu_token_del_bot
TELEGRAM_CHAT_ID=tu_chat_id
